jsonargparse
requests
langchain
langchain-experimental
sentence-transformers
transformers
datasets
accelerate
bitsandbytes
safetensors
peft
trl
notebook
matplotlib
pandas
chromadb
openai
numexpr
jsonref
tqdm
pytest
